<div class="m-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="m-0">Gmail-like Labels in ag-Grid</h4>

    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#labelModal"
      (click)="manageLabeles()">
      <i class="bi bi-tags-fill me-1"></i> Manage Labels
    </button>
  </div>

  <div class="card p-3">

    <!-- <div class="d-flex flex-wrap"> -->
    <div class="row align-items-center">

      <!-- <span class="me-2 fw-bold h6">Label Action</span>
      <div>
        <div class="d-flex flex-wrap">
          <div class="btn-group mb-2 me-2">
            <button class="btn btn-danger dropdown-toggle pr-2" data-bs-toggle="dropdown">
              <i class="bi bi-plus-circle"></i> Add Label
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let label of labels">
                <a class="dropdown-item" (click)="bulkAddLabel(label.id)">
                  <span class="badge me-2" [ngStyle]="{ 'background-color': label.colorCode }">&nbsp;</span>{{
                  label.lableName }}
                </a>
              </li>
            </ul>
          </div>
          <div class="btn-group mb-2">
            <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
              <i class="bi bi-dash-circle"></i> Remove Label
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let label of labels">
                <a class="dropdown-item" (click)="bulkRemoveLabel(label.id)">
                  <span class="badge me-2" [ngStyle]="{ 'background-color': label.colorCode }">&nbsp;</span>{{
                  label.lableName }}
                </a>
              </li>
            </ul>
          </div>
        </div>



      </div> -->

      <div class="col-6">
        <span class="me-2 fw-bold h6">Label Action</span>
        <div>
          <div class="btn-group mb-2 me-2">
            <button class="btn btn-danger dropdown-toggle pr-2" data-bs-toggle="dropdown">
              <i class="bi bi-plus-circle"></i> Add Label
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let label of labels">
                <a class="dropdown-item" (click)="bulkAddLabel(label.id)">
                  <span class="badge me-2" [ngStyle]="{ 'background-color': label.colorCode }">&nbsp;</span>{{
                  label.lableName }}
                </a>
              </li>
            </ul>
          </div>
          <div class="btn-group mb-2">
            <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
              <i class="bi bi-dash-circle"></i> Remove Label
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let label of labels">
                <a class="dropdown-item" (click)="bulkRemoveLabel(label.id)">
                  <span class="badge me-2" [ngStyle]="{ 'background-color': label.colorCode }">&nbsp;</span>{{
                  label.lableName }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <span class="me-2 fw-bold">Filter by Label</span>
        <!-- <div>
          <button *ngFor="let label of labels" (click)="filterByLabel(label.id)"
            [ngClass]="{'active': activeFilters.includes(label.id)}">
            {{ label.name }}
          </button>
          <button (click)="activeFilters=[]; filterByLabel(label.id)">Clear Filters</button>
        </div> -->
        <div>
          <ng-container *ngFor="let label of labels">
            <span class="badge me-2" [ngStyle]="{'background-color': label.colorCode}" role="button"
              (click)="filterByLabel(label.id)">
              {{ label.lableName }}
            </span>
          </ng-container>
          <span class="badge bg-secondary" role="button" (click)="clearFilters()">❌ Clear Filters</span>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <!-- Manage Labels Button -->
    <!-- <button class="btn btn-outline-danger ms-auto" (click)="openManageLabels()">
        🏷️ Manage Labels
      </button> -->
    <div class="modal fade" id="labelModal" tabindex="-1" aria-labelledby="labelModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="labelModalLabel">Manage Labels</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <!-- Current Labels -->
            <h6>Current Labels</h6>
            <div *ngFor="let label of labels"
              class="d-flex justify-content-between align-items-center border rounded p-2 mb-2">
              <div>
                <span [style.color]="label.colorCode" class="me-2 fs-5">●</span>
                <strong>{{ label.lableName }}</strong><br />
                <small class="text-muted">{{ label.description }}</small>
              </div>
              <div>
                <button class="btn btn-sm btn-outline-primary me-2" (click)="editLabel(label)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="deleteLabel(label)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>

            <!-- Add Form -->
            <div *ngIf="!isEditMode" class="card mt-4">
              <div class="card-header">
                <h5 class="mb-0">Add Label</h5>
              </div>
              <div class="card-body">
                <form [formGroup]="labelForm" (ngSubmit)="addLabel()">
                  <div class="mb-3">
                    <label class="form-label">Label Name</label>
                    <input formControlName="lableName" class="form-control" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Color</label>
                    <input formControlName="colorCode" type="color" class="form-control form-control-color w-100"
                      style="height: 2rem;" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Description (optional)</label>
                    <textarea formControlName="description" rows="3" class="form-control"></textarea>
                  </div>
                  <div class="d-flex justify-content-end gap-2">
                    <!-- <button class="btn btn-outline-secondary">Cancel</button> -->
                    <!-- (click)="cancelEdit()" -->
                    <button class="btn btn-danger">Add Label</button>
                    <!-- (click)="updateLabel()" -->
                  </div>
                </form>


              </div>
            </div>


            <!-- Edit Form -->
            <div *ngIf="isEditMode" class="card mt-4">
              <div class="card-header">
                <h5 class="mb-0">Edit Label</h5>
              </div>
              <div class="card-body">
                <form [formGroup]="labelForm" (ngSubmit)="updateLabel()">
                  <div class="mb-3">
                    <label class="form-label">Label Name</label>
                    <input formControlName="lableName" class="form-control" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Color</label>
                    <input formControlName="colorCode" type="color" class="form-control form-control-color w-100"
                      style="height: 2rem;" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Description (optional)</label>
                    <textarea formControlName="description" rows="3" class="form-control"></textarea>
                  </div>
                  <div class="d-flex justify-content-end gap-2">
                    <button class="btn btn-outline-secondary" (click)="cancelEdit()">Cancel</button>
                    <button class="btn btn-danger">Update Label</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary" (click)="saveLabel()">Save</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="card shadow-sm rounded-3 my-4">
    <div class="card-body p-3">
      <!-- Table -->
      <table class="table table-hover align-middle">
        <thead class="thead-light">
          <tr>
            <th><input type="checkbox" [(ngModel)]="selectAll" (change)="toggleAllSelection()"></th>
            <th>
              <i class="bi bi-filter"></i> Subject
            </th>
            <th>
              <i class="bi bi-filter"></i> Sender
            </th>
            <th>
              <i class="bi bi-filter"></i> Date
            </th>
            <th>
              <i class="bi bi-filter"></i> Labels
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of filteredEmails" [class.table-primary]="email.selected">
            <td><input type="checkbox" [(ngModel)]="email.selected"></td>
            <td>{{ email.subject }}</td>
            <td>{{ email.sender }}</td>
            <td>{{ email.date | date:'yyyy-MM-dd'}}</td>
            <td>
              <ng-container *ngFor="let label of email.labels">
                <span class="badge me-1" [style.background-color]="label.colorCode">
                  {{ label.lableName }}
                  <button class="btn btn-sm btn-close ms-1" (click)="removeLabelInGmail(email.id,label.id)"></button>
                </span>
              </ng-container>

              <!-- Add Dropdown -->
              <div class="dropdown d-inline">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
                  +
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let label of getAvailableLabels(email)">
                    <a class="dropdown-item" (click)="addLabelInGmail(email.id, label.id)">
                      <span class="badge me-1" [style.background-color]="label.colorCode">&nbsp;</span>
                      {{ label.lableName }}
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <div class="card-footer d-flex justify-content-between align-items-center">
      <div>
        <label for="pageSizeSelect" class="me-2">Page Size:</label>
        <select id="pageSizeSelect" class="form-select form-select-sm d-inline-block w-auto" [(ngModel)]="pageSize"
          (change)="onPageSizeChange()">
          <option *ngFor="let size of [5, 10, 25, 50]" [value]="size">{{ size }}</option>
        </select>
      </div>
      <div>
        <nav>
          <ul class="pagination pagination-sm mb-0">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="goToPage(1)">«</button>
            </li>
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="goToPage(currentPage - 1)">‹</button>
            </li>
            <li class="page-item disabled">
              <span class="page-link">{{ getStartIndex() + 1 }} to {{ getEndIndex() }} of {{ gmails.length }}</span>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="goToPage(currentPage + 1)">›</button>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="goToPage(totalPages)">»</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>


</div>