.add-label {
    background-color: #e1e1e1;
    color: #333;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 6px;
    cursor: pointer;
}

.dropdown-toggle::after {
    content: none !important;
}

.remove-icon {
    cursor: pointer;
}